.tong {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.blog {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Cho phép các item xuống dòng khi không đủ không gian */
}

.item {
  flex: 0 0 calc(33.33% - 10px); /* Chiếm 33.33% của không gian và trừ đi padding */
  padding: 24px; /* Giảm khoảng cách giữa các item */
  margin-bottom: 20px; /* Khoảng cách giữa các hàng */
}

.main {
  position: relative; /* Thiết lập vị trí tương đối cho div main */
}

.main__img {
  width: 100%;
  position: relative;
  /* Thiết lập vị trí tương đối cho ảnh */
}

.main__button,
.main__title {
  position: absolute; /* Thiết lập vị trí tuyệt đối cho title và button */
  bottom: 50px; /* Đặt chúng ở phía dưới của div chứa ảnh */
  left: 50px; /* Đặt chúng ở phía trái của div chứa ảnh */
}

.main__title {
  padding-bottom: 60px;
  color: #ffffff;
  /* Thêm padding cho title */
}
.main__button > a {
  padding: 12px 24px;
  border: 1px solid #ffffff;
  transition: all 0.2s linear;
  color: #ffffff;
  text-decoration: none; /* Loại bỏ gạch chân của link */
}

.main__button > a:hover {
  background-color: #ffffff;
  color: #090909;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__button button {
  border: none; /* Loại bỏ viền của button */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
  background: transparent; /* Đặt màu nền của button là trong suốt */
  font-size: 16px;
  color: #090909; /* Màu chữ */
  cursor: pointer; /* Biến con trỏ chuột thành hình bàn tay khi hover */
  transition: color 0.5s; /* Thêm hiệu ứng transition cho thuộc tính text-decoration */
}

.blog__button button:hover {
  text-decoration: underline; /* Thêm gạch chân khi hover vào button */
  color: blue;
}
