.title1 {
  font-size: 30px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}
.grid-container {
  padding: 10px 76px;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Defines three columns of equal width */
  grid-gap: 30px; /* Add spacing between grid items */
}
.item {
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .img img {
  width: 100%;
}
