.grid-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Defines three columns of equal width */
  grid-gap: 10px; /* Add spacing between grid items */
}
.item {
  position: relative;
}
