.tong {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.blog {
  display: flex;
  justify-content: space-between; /* Các item sẽ được căn đều theo chiều ngang và căn cách nhau một khoảng đều */
}

.item {
  flex: 1; /* Mỗi item sẽ chiếm đủ không gian trên hàng */

  padding: 22px; /* Thêm padding để tạo khoảng cách giữa các item */
}

.main {
  position: relative; /* Thiết lập vị trí tương đối cho div main */
}

.main__img {
  position: relative; /* Thiết lập vị trí tương đối cho ảnh */
}

.main__button,
.main__title {
  position: absolute; /* Thiết lập vị trí tuyệt đối cho title và button */
  bottom: 0; /* Đặt chúng ở phía dưới của div chứa ảnh */
  left: 0; /* Đặt chúng ở phía trái của div chứa ảnh */
}

.main__title {
  padding: 10px; /* Thêm padding cho title */
}
