.phone {
  background-color: #002c3f;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone span {
  color: white;
  font-size: 18px;
  padding: 10px;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
Nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}
nav ul li:hover {
  color: #ff9f1c;
  cursor: pointer;
}
