.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #425764;
}
.menu-link:hover {
  color: #ff9f1c;
}
.menu-link i {
  font-size: 18px;
  transition: all 0.3s ease;
  color: #000;
}
.navbar {
  margin-top: 20px;
}
