.container {
  margin-bottom: 70px;
}
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-category {
  display: flex;
  flex-wrap: wrap;
  overflow: ;
}

.list-category > div {
  width: 33.33%; /* 1/3 chiều rộng của parent container */
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.list-category > div img {
  width: 100%;
  height: auto;
}
.list-category > div img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
