@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
