@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap')
* {
  margin: 0;
  padding: 0;

  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
