.wrapper {
  background-color: #002c3f;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.wrapper .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Thêm màu chữ trắng */
}

.wrapper .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.offer-image {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá phần tử cha */
}
.menu-link {
  width: 40%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50; /* Màu nền */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Hiệu ứng hover */
}

.menu-link:hover {
  background-color: #ffffff; /* Màu nền khi hover */
}
