.wrapper {
  background-color: #002c3f;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.wrapper .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Thêm màu chữ trắng */
}
.wrapper .right h3 {
  margin: 20px 0;
  font-size: 50px;
  font-weight: 300;
}
.wrapper .right button {
  border-radius: 10px;
  width: 40%;
  padding: 10px 20px;
  border: none;
  background-color: #b64b20;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}
.wrapper .right button:hover {
  background-color: #ffffff; /* Đổi màu nền khi hover */
}

.wrapper .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.offer-image {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá phần tử cha */
}
.wrapper .left img {
  transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}

.wrapper .left img:hover {
  transform: scale(1.05); /* Phóng to hình ảnh khi hover */
  opacity: 0.8; /* Điều chỉnh độ mờ */
}
.video {
  width: 100%;

  margin-bottom: 50px;
}
