.followOrder-heading {
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
  line-height: 1.5;
}
.followOrder-form {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.followOrder-form input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #000000;
}
.followOrder-button {
  padding: 12px;
  border: 1px solid #000000;
  background-color: #4a1f18;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
}
.followOrder-title {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}
.followOrder-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 50px 0;
}

.followOrder-item {
  padding: 12px 20px;
  text-align: center;
  font-size: 17px;
  width: 120px;
  margin: 10px;
}

.followOrder-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media screen and (max-width: 1023px) {
  .followOrder-heading {
    font-size: 30px;
  }
  .followOrder-title {
    font-size: 20px;
  }
  .followOrder-item {
    font-size: 15px;
    padding: 10px;
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .followOrder-heading {
    font-size: 20px;
  }
  .followOrder-title {
    font-size: 15px;
  }
  .followOrder-item {
    font-size: 12px;
    padding: 8px;
    width: 80px;
  }
}
